# phpstan config file
# run with this command:
# $ phpstan analyse -c phpstan_config.neon .

parameters:
	level: 1
	paths:
		- public
		- scripts
		- upgrade
	excludePaths:
		- tests/
		- scripts/minutes_search.php
	bootstrapFiles:

