label {
	display: block;
	margin-top: 10px;
}

label span {
	margin: 0;
	display: block;
	font-weight: bold;
}

label.err {
	background: #fa9;
	color: #900;
	padding: 7px 5px;
	margin: 10px 0;
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
	        border-radius: 8px;
}
