body {
	color: #000;
	margin: 0 0 24px 0;
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	line-height: 14pt;
	box-sizing: border-box;
}

input[type="text"], input[type="search"], select, .toggles {
	height: 24px;
}
input[type="text"], input[type="search"] {
	padding: 0 6px;
}
form button, .button_link {
	height: 32px;
}
form textarea {
	padding: 12px;
}

a {
	color: #237032;
	text-decoration: underline
}
a:hover {
	background-color: #ffec99;
	color: #237032;
}

.search_input {
	width: 100%;
}

th {
	text-align: left;
}

.error {
	background-color: #fff5f5;
	color: #c92a2a;
	padding: 6px 48px;
	font-size: 24px;
	line-height: 32px;
	margin: 18px 0;
	border-radius: 6px;
}

#content .error h2 {
	font-size: 32px;
}

.admin_actions {
	padding: 6px 0px;
}
.admin_actions a {
	margin-right: 12px;
}

.related_minutes {
	background-color: #e3fafc;
	color: #0b7285;
	clear: right;
	float: right;
	margin-top: 15px;
	margin: 6px;
	padding: 12px;
    width: 230px;
}
.related_minutes .header {
	font-size: 14px;
	font-weight: bold;
	white-space: nowrap;
}
.related_minutes ul {
	padding-left: 24px;
	margin: 3px;
}

#banner {
	background-color: #ebfbee;
	padding: 6px 0;
	margin: 0;
	border-bottom: 1px solid #237032;
}

nav {
	background-color: #237032;
	color: #fff;
	left: 0;
	position: absolute;
	font-size: 14px;
	padding: 12px;
	width: 168px;
}
nav .menu {
	border-radius: 6px;
	margin: 15px 0;
}
nav .menu div {
	line-height: 9pt;
}
nav .menu h2 {
	margin: 0;
	padding: 4px 6px;
	font-size: 18px;
}
nav .menu a, nav .menu .current_link {
	color: #ebfbee;
	display: block;
	line-height: 16px;
	padding: 4px 6px;
}
nav .menu .current_link {
	background-color: #37b24d;
	color: #212529;
}
nav a:link {
	text-decoration: none;
	border-radius: 6px;
}
nav a:hover {
	background-color: #2b8a3e;
	color: #ebfbee;
}
nav .current_link {
	color: #fff;
}
nav .sublink {
	font-size: 12px;
}

.found {
	font-weight: bold;
	padding: 3px 0;
}

.date {
	font-weight: bold;
}

#banner {
	margin-left: 192px;
}
#content {
	background-color: #fff;
	margin-left: 200px;
	padding: 12px 18px;
}

#content p.highlight {
	margin-bottom: 15px;
	padding: 12px;
}

#previous_versions, #versions_reveal {
	margin-bottom: 15px;
}

#previous_versions .info {
	background-color: #e9ecef;
	margin-top: 6px;
	padding: 6px;
}

.expired {
	background-color: #f1f3f5;
	color: #868e96;
	font-size: 18px;
	font-weight: bold;
	padding: 24px;
}

#diff {
	white-space: pre;
	padding: 6px;
	color: #333;
	font-family: courier, monospace;
}
.diff_added, .diff_removed {
	margin: 0;
}
.diff_added {
	background-color: #e9fac8;
	color: #3f6609;
}
.diff_removed {
	background-color: #ffe3e3;
	color: #a61e1e;
}

#content h2 {
	font-size: 15px;
	margin: 4px 0;
	padding: 6px;
}

.agreement_entry, .minutes_entry {
	margin-bottom: 16px;
}
.minutes_entry a {
	color: #0b7285;
}
.minutes_entry a:hover {
	background-color: #c5f6fa;
}
.entry_title {
	font-size: 18px;
	font-weight: bold;
}
.item_topic {
	padding: 6px 0;
}
.item_topic .meta {
	font-size: 
	padding: 3px 0;
}

h1 {
	margin: 0;
	font-size: 30px;
	line-height: 48px;
}

#selectors {
	margin: 12px;
}

#agrmselector, #minselector, #bothselector {
	margin-right: 32px;
}

h2.agreement_doc {
	background-color: #b2f2bb;
	color: #2b8a3e;
	font-weight: bold;
}
h2.minutes_doc {
	background-color: #c5f6fa;
	color: #0b7285;
	font-weight: bold;
}
h2.minutes_doc a {
	color: #0b7285;
}

#content h2.agrm a, #content h2.mins a {
	font-weight: bold;
}

#print_version_link {
	position: relative;
	float: right;
	margin: 12px;
	cursor: pointer;
}

.info .special {
	margin-top: 12px;
	margin-bottom: 12px;
	font-weight: bold;
}

.search_result {
	line-height: 18px;
}

.search_from {
	font-weight: bold;
}

#content p.short {
	margin: 15px 0;
}

#login, #logout {
	position: absolute;
	top: 24px;
	right: 24px;
	font-size: 15px;
	font-weight: bold;
}
#login > *, #logout > *{
	padding: 12px;
}

.nowrap {
	white-space: nowrap;
}

button, .button_link {
	padding: 3px 9px;
	border: 0;
	font-size: 14px;
}
button {
	background-color: #237032;
	color: #fff3bf;
}
button.secondary, a.button_link {
	background-color: #d3f9d8;
	color: #000;
	cursor: pointer;
	border: 1px solid #40c057;
	border-radius: 6px;
	text-decoration: none;
}

.search_query {
	margin-bottom: 18px;
}
.search_query div {
	padding: 6px 0;
}
.search_query span {
	margin-right: 20px;
}

.toggles {
	border: 1px solid #000;
	display: inline-flex;
	padding: 3px;
	column-gap: 3px;
}
.toggles label {
	display: block;
}
.toggles input[type="radio"] {
	display: none;
}
.toggles label span {
	margin: 0;
	display: block;
	background-color: #d3f9d8;
	padding: 3px 9px;
	cursor: pointer;
}
.toggles input[type="radio"]:checked + span {
	background-color: #2f9e44;
	color: #fff;
}

.print_date {
	display: none;
}

.toggle-content {
	display: none;
}
.toggle-content.is-visible {
	display: block;
}

table {
	border: 0;
}
table.listing {
	border-collapse: collapse;
}
table.listing tr {
	border-bottom: 1px solid #ced4da;
}
table.listing .date {
	white-space: nowrap;
}
table th, table td {
	padding: 6px;
	vertical-align: top;
}
table th {
	font-size: 15px;
}

.tags {
	margin-top: 3px;
}
.tags a {
	background-color: #99e9f2;
	color: #074b58; // cyan 11
	display: inline-block;
	padding: 3px 9px;
	margin: 0 6px;
	text-decoration: none;
}
